html
  head
    title= 'Index'
    script(type='text/javascript' src='routes/SpaceGame.js')
  body
    h1= 'Welcome!'
    button(
      type='button'
      onclick= "location.href='/SpaceRace'"
    ) Go to Space Race